*.jpg
*.exe
.DS_Store
/Backend/website_stuff/MyTcl
/Backend/website_stuff/nginx-1.13.4/conf/win-utf
/Backend/website_stuff/nginx-1.13.4/conf/uwsgi_params
/Backend/website_stuff/nginx-1.13.4/conf/scgi_params
/Backend/website_stuff/nginx-1.13.4/conf/mime.types
/Backend/website_stuff/nginx-1.13.4/conf/koi-win
/Backend/website_stuff/nginx-1.13.4/conf/koi-utf
/Backend/website_stuff/nginx-1.13.4/conf/fastcgi_params
/Backend/website_stuff/nginx-1.13.4/conf/fastcgi.conf
/Backend/website_stuff/nginx-1.13.4/contrib
/Backend/website_stuff/nginx-1.13.4/docs
/Backend/website_stuff/nginx-1.13.4/html/ms-icon-70x70.png
/Backend/website_stuff/nginx-1.13.4/html/ms-icon-310x310.png
/Backend/website_stuff/nginx-1.13.4/html/ms-icon-150x150.png
/Backend/website_stuff/nginx-1.13.4/html/ms-icon-144x144.png
/Backend/website_stuff/nginx-1.13.4/html/manifest.json
/Backend/website_stuff/nginx-1.13.4/html/index.nginx-debian.html
/Backend/website_stuff/nginx-1.13.4/html/favicon.ico
/Backend/website_stuff/nginx-1.13.4/html/favicon-96x96.png
/Backend/website_stuff/nginx-1.13.4/html/favicon-32x32.png
/Backend/website_stuff/nginx-1.13.4/html/favicon-16x16.png
/Backend/website_stuff/nginx-1.13.4/html/browserconfig.xml
/Backend/website_stuff/nginx-1.13.4/html/apple-icon.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-precomposed.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-76x76.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-72x72.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-60x60.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-57x57.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-180x180.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-152x152.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-144x144.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-120x120.png
/Backend/website_stuff/nginx-1.13.4/html/apple-icon-114x114.png
/Backend/website_stuff/nginx-1.13.4/html/android-icon-96x96.png
/Backend/website_stuff/nginx-1.13.4/html/android-icon-72x72.png
/Backend/website_stuff/nginx-1.13.4/html/android-icon-48x48.png
/Backend/website_stuff/nginx-1.13.4/html/android-icon-36x36.png
/Backend/website_stuff/nginx-1.13.4/html/android-icon-192x192.png
/Backend/website_stuff/nginx-1.13.4/html/android-icon-144x144.png
/Backend/website_stuff/nginx-1.13.4/logs
/Backend/location_log.db-journal
/Backend/location_log.db
/Backend/website_stuff/sites.db
